$font-stack: Helvetica, sans-serif;
$primary-color:rgb(71, 64, 3) ;
$bg-color: rgb(104, 104, 2);
body {
    font: 100% $font-stack;
    color: $primary-color;
}

.border-style{
    border: 2px solid $primary-color;
    background-color:$bg-color ;
}